#nota-bene
    margin: $big-dim-px 0

.inner-section
    padding-left: $big-dim-px
    border-left: 1px solid lighten($body-bg-color, 8%)

    h3, h4, h5, h6
        margin-top: 3vh

ul.no-dot
    list-style: none
    padding-left: $big-dim-px

#main
    background-color: $body-bg-color
    min-height: 100vh - $header-height * 1.5 - $footer-height

#content
    padding: 5vh 0

#content > section, .inner-section > section
        margin-bottom: 3.5%