// Navbar header
$banner-height: 60vh
$header-sections-font-size: 0.8rem

header.navbar, #banner
    padding: 0 4vw
    width: 100vw
    height: $header-height
    background-color: $menus-bg-color

    *
        margin: 0 10px
    a
        font-size: $header-sections-font-size

    img
        height: $header-height

    .navbar-brand
        font-size: $header-sections-font-size * 1.4
        color: darken($btn-link-color, 5%)
        text-transform: uppercase
        font-weight: bold
        line-height: $header-height

    .dropdown
        margin: 0
        a
            border: none

header.navbar:not(.has-banner)
    height: $header-height * 1.5
    img, .navbar-center, .navbar-center a, div.dropdown-link
        height: $header-height * 1.5

// Banner
#banner
    height: $banner-height
    margin-bottom: 25px

    .banner-center
        display: flex
        flex-flow: column
        text-align: center

    img
        height: $banner-height / 5

// footer
footer#page-footer
    bottom: 0
    width: 100vw
    min-height: $footer-height
    background-color: $menus-bg-color
    padding: 2vh

    p
        margin: 0
        padding: 0

// dropdown menu
.btn.btn-link.dropdown-toggle:focus
    box-shadow: none
.menu
    background-color: $menus-bg-color
.dropdown .dropdown-toggle:focus+.menu, .dropdown .menu:hover, .dropdown.active .menu
    display: block !important

// Responsive
@media screen and (max-width: $break-width)
    header.navbar
        padding: 0
        position: fixed
        .dropdown
            display: flex
            align-items: center
            flex-direction: column
            .menu, .menu:hover
                animation: none
                display: flex
                align-items: inherit
                flex-direction: inherit
                position: relative
                margin-bottom: 20px
        #menu-show
            position: fixed
            top: 0
            margin-left: 0
            z-index: 500
        .logo
            align-items: initial
            position: fixed
            right: 0

    // No banner
    header.navbar:not(.has-banner):focus-within
        .navbar-section.show-on-focus
            padding-top: $header-height
            background-color: $menus-bg-color
            left: 0
            margin: 0
            width: 100vw
            display: flex !important
            align-items: center
            flex-direction: column
        .menu
            position: initial

    // Banner
    header.navbar.has-banner:focus-within
        .logo, .logo *
            display: block !important
        .navbar-center
            display: flex !important
            background-color: $menus-bg-color
            position: fixed
            top: $header-height
            left: 0
            flex-direction: column
            margin: 0
            width: 100vw