a.btn.btn-link(href="/") Home
a.btn.btn-link.documentation(href="/documentation.html") Documentation
a.btn.btn-link(href="/contributing.html") Contributing
a.btn.btn-link(href="/projects.html") Projects
div.dropdown
    a.btn.btn-link.dropdown-toggle(href="#", tabindex="0") Tutorials #[i.icon.icon-caret]
    ul.menu
        li: a.btn.btn-link(href="/tutorials/language.html") Learning the language
        li: a.btn.btn-link(href="/tutorials/building.html") Building ArkScript
        li: a.btn.btn-link(href="/tutorials/embedding.html") Embedding ArkScript in your project
        li: a.btn.btn-link(href="/tutorials/modules.html") Creating C++ modules for ArkScript
div.divider.half
//- a.btn.btn-link(href="/blog.html") Blog
a.btn.btn-link(href="https://github.com/ArkScript-lang/Ark", target="_blank") Github
a.btn.btn-link(href="https://github.com/orgs/ArkScript-lang/discussions", target="_blank") Forum
