a.btn.btn-link(href="/") Home
div.dropdown
    a.btn.btn-link.dropdown-toggle(href="#", tabindex="0") #[i.fa.fa-book(aria-hidden="true")] Documentation #[i.icon.icon-caret]
    ul.menu
        li: a.btn.btn-link(href="/std/index.html") #[i.fa.fa-book(aria-hidden="true")] Standard library
        li: a.btn.btn-link(href="/tutorials/language.html") #[i.fa.fa-graduation-cap(aria-hidden="true")] Learning the language
        li: a.btn.btn-link(href="/tutorials/building.html") #[i.fa.fa-cogs(aria-hidden="true")] Building ArkScript
        hr
        li: a.btn.btn-link(href="/documentation.html") #[i.fa.fa-link(aria-hidden="true")] All the links
a.btn.btn-link(href="/contributing.html") #[i.fa.fa-code-fork(aria-hidden="true")] Contributing
a.btn.btn-link(href="/projects.html") Projects
div.divider.half
a.btn.btn-link(href="https://github.com/ArkScript-lang/Ark", target="_blank") #[i.fa.fa-github(aria-hidden="true")] Github
a.btn.btn-link(href="https://github.com/orgs/ArkScript-lang/discussions", target="_blank") #[i.fa.fa-users(aria-hidden="true")] Forum
