a.btn.btn-link(href="/") Home
a.btn.btn-link.documentation(href="/documentation.html") Documentation
a.btn.btn-link(href="/contributing.html") Contributing
a.btn.btn-link(href="/projects.html") Projects
div.dropdown
    a.btn.btn-link.dropdown-toggle(href="#", tabindex="0") Tutorials #[i.icon.icon-caret]
    ul.menu
        li: a.btn.btn-link(href="/tutorials/language.html") The language
        li: a.btn.btn-link(href="/tutorials/building.html") Building ArkScript
        li: a.btn.btn-link(href="/impl/d7/dea/tutorial_embedding.html") Embedding
div.divider.half
//- a.btn.btn-link(href="/blog.html") Blog
a.btn.btn-link(href="https://github.com/ArkScript-lang/Ark", target="_blank") Github
a.btn.btn-link(href="https://discord.gg/YT5yDwn", target="_blank") Discord
