div#banner.navbar
    section.navbar-section
    section.navbar-center
        div.banner-center
            figure.figure
                img.img-responsive(src="/assets/images/Ark-slim.png", alt="ArkScript")
                figcaption.figure-caption.navbar-brand ArkScript
    section.navbar-section
