header.navbar
    a#menu-show.btn.btn-link.show-xl(href="#", tabindex="0") #[i.icon.icon-menu]
    section.navbar-section.show-on-focus.hide-xl
        a.navbar-brand.mr-2.hide-xl(href="/") ArkScript
        include _links.pug
    section.navbar-section.logo
        a(href="/"): img(src="/assets/images/Ark-slim.png", alt="ArkScript")
