header.navbar.has-banner
    a#menu-show.btn.btn-link.show-xl(href="#", tabindex="0") #[i.icon.icon-menu]
    section.navbar-section.hide-xl
    section.navbar-center.hide-xl
        include _links
    section.navbar-section.logo
        a(href="/")
